$font-stack : Helvetica,
sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  background-color: $primary-color;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap; 

}
